.container {
    padding: 20px;
  }
  
  .utilizadores-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .utilizadores-table th, .utilizadores-table td {
    padding: 10px;
    border: 2px solid #ddd;
    text-align: left;
  }
  
  .utilizadores-table th {
    background-color: #f4f4f4;
  }
  
  .error {
    color: red;
  }

  .filters-row th {
    padding: 5px;
    background-color: white;
    border: none;
  }
  
  .filter-input,
  .filter-select {
    width: 94%;
    padding: 5px;
    font-size: 14px;
    border: 2px solid #ddd;
    border-radius: 4px;
  }
  
  .filter-select {
    height: 30px;
  }